@{
  Layout = "_Layout";
}

@using Storefront.Models
@model Storefront.Models.Flavor

<h2>Flavor Page</h2>

<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

<h3>Items in this flavor</h3>
<ul>
@foreach (FlavorTreat join in Model.FlavorTreatJoinEntities)
{
  <li>@Html.ActionLink($"{join.Treat.Name}","Details", "Treat", new { id = join.TreatId})</li>
}
</ul>

<p>@Html.ActionLink("Add a new treat to make in this flavor", "AddTreat", new {id = Model.FlavorId})</p>
@Html.ActionLink("Back to List", "Index")<br>
@Html.ActionLink("Delete Flavor", "Delete", new {id = Model.FlavorId})